<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>新生体检信息录入系统</title>
    <!-- 引入bootstrap样式 -->
    <link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet" type="text/css">
    <!-- 图标库 -->
    <link th:href="@{/lyear/css/materialdesignicons.min.css}" rel="stylesheet" type="text/css"/>
    <!-- 弹出框样式 -->
    <link th:href="@{/lyear/jconfirm/jquery-confirm.min.css}" rel="stylesheet" type="text/css"/>
    <!-- 自定义样式 -->
    <link th:href="@{/lyear/css/style.min.css}" rel="stylesheet" type="text/css"/>
    <link rel="icon" th:href="@{/favicon.ico}">
</head>
<body>
<div class="lyear-layout-web">
    <div class="lyear-layout-container">
        <!-- 左侧导航 -->
        <div th:replace="/admin/common/leftbar::#leftbaraside"></div>
        <!-- 头部信息 -->
        <div th:replace="/admin/common/topbar::#topbarheader"></div>

        <!-- 页面主要内容 -->
        <main class="lyear-layout-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-9">
                        <div class="card">
                            <div class="card-header"><h4>性别比例</h4></div>
                            <div class="card-body">
                                <canvas id="chart-pie" width="560" height="560"></canvas>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<!-- 引入jQuery和bootstrap的js -->
<script th:src="@{/js/jquery-2.1.1.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.js}"></script>
<!-- 滚动条插件 -->
<script th:src="@{/lyear/js/perfect-scrollbar.min.js}"></script>
<!-- 弹出框js -->
<script th:src="@{/lyear/jconfirm/jquery-confirm.min.js}"></script>
<!-- 自定义js脚本 -->
<script th:src="@{/lyear/js/main.min.js}"></script>
<!-- 图标插件 -->
<script th:src="@{/js/Chart.js}"></script>
<script type="text/javascript">
    var manCount = [[${manCount}]]
    var womCount = [[${womCount}]]

    new Chart($("#chart-pie"), {
        type: 'pie',
        data: {
            labels: ["男", "女"],
            datasets: [{
                data: [manCount, womCount],
                backgroundColor: ['rgba(54, 162, 235, 1)', 'rgba(255,99,132,1)']
            }]
        },
        options: {
            responsive: false
        }
    });
</script>
</body>
</html>
