<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>新生体检信息录入系统</title>
    <!-- 引入bootstrap样式 -->
    <link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet" type="text/css">
    <!-- 图标库 -->
    <link th:href="@{/lyear/css/materialdesignicons.min.css}" rel="stylesheet" type="text/css"/>
    <!-- 弹出框样式 -->
    <link th:href="@{/lyear/jconfirm/jquery-confirm.min.css}" rel="stylesheet" type="text/css"/>
    <!-- 自定义样式 -->
    <link th:href="@{/lyear/css/style.min.css}" rel="stylesheet" type="text/css"/>
    <link rel="icon" th:href="@{/favicon.ico}">
</head>
<body>
<div class="lyear-layout-web">
    <div class="lyear-layout-container">
        <!-- 左侧导航 -->
        <div th:replace="/common/leftbar::#leftbaraside"></div>
        <!-- 头部信息 -->
        <div th:replace="/common/topbar::#topbarheader"></div>

        <!-- 页面主要内容 -->
        <main class="lyear-layout-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <h4 class="col-md-5">内科信息</h4>
                                    <form class="col-md-5 " th:action="@{|/internal/${internalInfoPageInfo.pageNum}/${internalInfoPageInfo.pageSize}|}" method="get" id="form">
                                        <div class="input-group">
                                            <input type="text" class="form-control" th:placeholder="${name!=null&&name.length()>2}?${name.substring(1,name.length()-1)}:'请输入学号'" id="name">
                                            <input type="hidden" id="name_like" name="name">
                                            <span class="input-group-addon btn" id="sub">
                                                    <span class="glyphicon glyphicon-search"></span> 搜索</span>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                        <tr>
                                            <th class="info">序号</th>
                                            <th class="info">学号</th>
                                            <th class="info">心率(次/分)</th>
                                            <th class="info">收缩血压(mmHg)</th>
                                            <th class="info">舒张血压(mmHg)</th>
                                            <th class="info">肝功能</th>
                                            <th class="info">营养状况</th>
                                            <th class="info">脾</th>
                                            <th class="info">肝</th>
                                            <th class="info">肺</th>
                                            <th class="info">神经</th>
                                            <th class="info">心血管</th>
                                            <th class="info">其他</th>
                                            <th class="info">医师意见</th>
                                            <th class="info">操作</th>
                                        </tr>
                                        </thead>
                                        <tbody th:each="internalInfo:${internalInfoList}">
                                        <tr>
                                            <td th:text="${internalInfo.id}"></td>
                                            <td th:text="${internalInfo.no}"></td>
                                            <td th:text="${internalInfo.heartRate}"></td>
                                            <td th:text="${internalInfo.bloodPressureContract}"></td>
                                            <td th:text="${internalInfo.bloodPressureDiastole}"></td>
                                            <td th:text="${internalInfo.liverFunction}"></td>
                                            <td th:text="${internalInfo.nutritionalStatus}"></td>
                                            <td th:text="${internalInfo.spleen}"></td>
                                            <td th:text="${internalInfo.liver}"></td>
                                            <td th:text="${internalInfo.lung}"></td>
                                            <td th:text="${internalInfo.nerve}"></td>
                                            <td th:text="${internalInfo.cardiovascular}"></td>
                                            <td th:text="${internalInfo.other}"></td>
                                            <td th:text="${internalInfo.physicianOpinion}"></td>
                                            <td>
                                                <button class="btn btn-primary btn-sm update_btn"
                                                        th:attr="update-id=${internalInfo.id},update-no=${internalInfo.no},update-heartRate=${internalInfo.heartRate},update-bloodPressureContract=${internalInfo.bloodPressureContract},
                                                                 update-bloodPressureDiastole=${internalInfo.bloodPressureDiastole},update-liverFunction=${internalInfo.liverFunction},update-nutritionalStatus=${internalInfo.nutritionalStatus},
                                                                 update-cardiovascular=${internalInfo.cardiovascular},update-nerve=${internalInfo.nerve},update-liver=${internalInfo.liver},update-lung=${internalInfo.lung},update-spleen=${internalInfo.spleen},
                                                                 update-other=${internalInfo.other},update-physicianOpinion=${internalInfo.physicianOpinion}">
															<span class="glyphicon glyphicon-pencil"
                                                                  aria-hidden="true"></span> 编辑
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- 显示分页信息 -->
                            <div class="row">
                                <div class="col-md-6" style="margin-left: 24px">
                                    <div class="btn-group">
                                        <button class="btn btn-default">
                                            <span>页次：</span>
                                        </button>
                                        <button class="btn btn-default">
                                            <span th:text="${internalInfoPageInfo.pageNum}+'/'+${internalInfoPageInfo.pages}+'页'"></span>
                                        </button>
                                        <button class="btn btn-default">
                                            <span>每页显示：</span>
                                        </button>
                                        <div class="btn-group">
                                            <button id="btnGroupDrop1"
                                                    class="btn btn-default dropdown-toggle"
                                                    data-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false"><span
                                                th:text="${internalInfoPageInfo.pageSize}"></span>
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li th:each="i:${#numbers.sequence(1,10)}">
                                                    <a th:text="${i}" th:href="@{|/internal/${internalInfoPageInfo.pageNum}/${i}|}"></a>
                                                </li>
                                            </ul>
                                        </div>
                                        <button class="btn btn-default">
                                            <span>条</span>
                                        </button>
                                        <button class="btn btn-default">
                                            <span>总记录数：</span>
                                        </button>
                                        <button class="btn btn-default">
                                            <span th:text="${internalInfoPageInfo.total}+'条'"></span>
                                        </button>
                                    </div>
                                </div>
                                <!-- 分页条信息 -->
                                <div class="col-md-5">
                                    <nav aria-label="Page navigation">
                                        <ul class="pagination pagination-lg pull-right"
                                            style="margin-top: 0">
                                            <li>
                                                <a th:href="@{|/internal/1/${internalInfoPageInfo.pageSize}|}">首页</a>
                                            </li>

                                            <li th:if="${internalInfoPageInfo.hasPreviousPage}"><a
                                                th:href="@{|/internal/${internalInfoPageInfo.pageNum - 1}/${internalInfoPageInfo.pageSize}|}"
                                                aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
                                            </a></li>

                                            <li th:each="page_Num:${internalInfoPageInfo.navigatepageNums }"
                                                th:class="${page_Num == internalInfoPageInfo.pageNum?'active':''}">
                                                <a th:if="${page_Num == internalInfoPageInfo.pageNum}"
                                                   th:text="${page_Num}"
                                                   th:href="@{#}">
                                                </a>
                                                <a th:text="${page_Num}"
                                                   th:if="${page_Num != internalInfoPageInfo.pageNum}"
                                                   th:href="@{|/internal/${page_Num}/${internalInfoPageInfo.pageSize}|}">
                                                </a>
                                            </li>

                                            <li th:if="${internalInfoPageInfo.hasNextPage }"><a
                                                th:href="@{|/internal/${internalInfoPageInfo.pageNum + 1}/${internalInfoPageInfo.pageSize}|}"
                                                aria-label="Next"> <span aria-hidden="true">&raquo;</span>
                                            </a></li>

                                            <li><a
                                                th:href="@{|/internal/${internalInfoPageInfo.pages}/${internalInfoPageInfo.pageSize}|}">末页</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 修改内科信息模态框 -->
                    <div class="modal fade" id="updateModal" tabindex="-1"
                         role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title">修改内科信息</h4>
                                </div>
                                <div class="modal-body">
                                    <!-- 要提交的表单 -->
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">序号：</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control"
                                                       id="id_update_input" readonly="readonly" name="id">
                                                <span class="help-block"></span>
                                            </div>
                                            <div class="col-sm-1">
                                                <em style="color: red">*</em>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">学号：</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control"
                                                       id="no_update_input" readonly="readonly" name="no"
                                                       placeholder="请输入学号：">
                                                <span class="help-block"></span>
                                            </div>
                                            <div class="col-sm-1">
                                                <em style="color: red">*</em>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">心率：</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control"
                                                       id="heartRate_update_input" name="heartRate"
                                                       placeholder="请输入心率(次/分)：">
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">收缩血压：</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control"
                                                       id="bloodPressureContract_update_input" name="bloodPressureContract"
                                                       placeholder="请输入收缩血压(mmHg)：">
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">舒张血压：</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control" name="bloodPressureDiastole"
                                                       id="bloodPressureDiastole_update_input"
                                                       placeholder="请输入舒张血压(mmHg)：">
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">肝功能：</label>
                                            <div class="col-sm-6">
                                                <label class="lyear-radio radio-grey m-t-10 radio-inline">
                                                    <input type="radio" name="liverFunction" value="正常" checked>
                                                    <span>正常</span>
                                                </label>
                                                <label class="lyear-radio radio-grey m-t-10 radio-inline">
                                                    <input type="radio" name="liverFunction" value="其他">
                                                    <span>其他</span>
                                                </label>
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">营养状态：</label>
                                            <div class="col-sm-6">
                                                <label class="lyear-radio radio-grey m-t-10 radio-inline">
                                                    <input type="radio" name="nutritionalStatus" value="良好" checked>
                                                    <span>良好</span>
                                                </label>
                                                <label class="lyear-radio radio-grey m-t-10 radio-inline">
                                                    <input type="radio" name="nutritionalStatus" value="一般">
                                                    <span>一般</span>
                                                </label>
                                                <label class="lyear-radio radio-grey m-t-10 radio-inline">
                                                    <input type="radio" name="nutritionalStatus" value="差">
                                                    <span>差</span>
                                                </label>
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">脾：</label>
                                            <div class="col-sm-6">
                                                <label class="lyear-radio radio-grey m-t-10 radio-inline">
                                                    <input type="radio" name="spleen" value="正常" checked>
                                                    <span>正常</span>
                                                </label>
                                                <label class="lyear-radio radio-grey m-t-10 radio-inline">
                                                    <input type="radio" name="spleen" value="其他">
                                                    <span>其他</span>
                                                </label>
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">肝：</label>
                                            <div class="col-sm-6">
                                                <label class="lyear-radio radio-grey m-t-10 radio-inline">
                                                    <input type="radio" name="liver" value="正常" checked>
                                                    <span>正常</span>
                                                </label>
                                                <label class="lyear-radio radio-grey m-t-10 radio-inline">
                                                    <input type="radio" name="liver" value="其他">
                                                    <span>其他</span>
                                                </label>
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">肺：</label>
                                            <div class="col-sm-6">
                                                <label class="lyear-radio radio-grey m-t-10 radio-inline">
                                                    <input type="radio" name="lung" value="正常" checked>
                                                    <span>正常</span>
                                                </label>
                                                <label class="lyear-radio radio-grey m-t-10 radio-inline">
                                                    <input type="radio" name="lung" value="其他">
                                                    <span>其他</span>
                                                </label>
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">神经：</label>
                                            <div class="col-sm-6">
                                                <label class="lyear-radio radio-grey m-t-10 radio-inline">
                                                    <input type="radio" name="nerve" value="正常" checked>
                                                    <span>正常</span>
                                                </label>
                                                <label class="lyear-radio radio-grey m-t-10 radio-inline">
                                                    <input type="radio" name="nerve" value="其他">
                                                    <span>其他</span>
                                                </label>
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">心血管：</label>
                                            <div class="col-sm-6">
                                                <label class="lyear-radio radio-grey m-t-10 radio-inline">
                                                    <input type="radio" name="cardiovascular" value="正常" checked>
                                                    <span>正常</span>
                                                </label>
                                                <label class="lyear-radio radio-grey m-t-10 radio-inline">
                                                    <input type="radio" name="cardiovascular" value="其他">
                                                    <span>其他</span>
                                                </label>
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">其他：</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control"
                                                       id="other_update_input" name="other"
                                                       placeholder="其他：">
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">医师意见：</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control"
                                                       id="physicianOpinion_update_input" name="physicianOpinion"
                                                       placeholder="医师意见：">
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default"
                                            data-dismiss="modal">关闭
                                    </button>
                                    <button type="button" class="btn btn-primary"
                                            id="update_btn">更新
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<!-- 引入jQuery和bootstrap的js -->
<script th:src="@{/js/jquery-2.1.1.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.js}"></script>
<!-- 滚动条插件 -->
<script th:src="@{/lyear/js/perfect-scrollbar.min.js}"></script>
<!-- 弹出框js -->
<script th:src="@{/lyear/jconfirm/jquery-confirm.min.js}"></script>
<script th:src="@{/js/layer.js}"></script>
<!-- 自定义js脚本 -->
<script th:src="@{/lyear/js/main.min.js}"></script>
<script th:src="@{/js/style.js}"></script>
<script type="text/javascript">
// 模糊搜索
$("#sub").click(function () {
    var name =$("#name").val();
    if (name.length === 0) {
        layer.msg('请输入需要查询的内容！',{
            icon:2,
            offset: 't'
        });
        return false;
    }
    $("#name_like").val("%"+name+"%");
    $("#form").submit();
});

// 点击编辑按钮时触发事件
$(document).on("click", ".update_btn", function () {
    // 显示数据之前先清除一下校验样式，如果有的话
    reset_form("#updateModal form");

    $("#id_update_input").val($(this).attr("update-id"));
    $("#no_update_input").val($(this).attr("update-no"));
    $("#heartRate_update_input").val($(this).attr("update-heartRate"));
    $("#bloodPressureContract_update_input").val($(this).attr("update-bloodPressureContract"));
    $("#bloodPressureDiastole_update_input").val($(this).attr("update-bloodPressureDiastole"));
    $("#other_update_input").val($(this).attr("update-other"));
    $("#physicianOpinion_update_input").val($(this).attr("update-physicianOpinion"));
    if($(this).attr("update-liverFunction") === "其他") {
        $("#updateModal input[name='liverFunction']").eq(1).prop("checked","checked");
    }
    if($(this).attr("update-nutritionalStatus") === "其他") {
        $("#updateModal input[name='nutritionalStatus']").eq(1).prop("checked","checked");
    }
    if($(this).attr("update-spleen") === "其他") {
        $("#updateModal input[name='spleen']").eq(1).prop("checked","checked");
    }
    if($(this).attr("update-liver") === "其他") {
        $("#updateModal input[name='liver']").eq(1).prop("checked","checked");
    }
    if($(this).attr("update-lung") === "其他") {
        $("#updateModal input[name='lung']").eq(1).prop("checked","checked");
    }
    if($(this).attr("update-nerve") === "其他") {
        $("#updateModal input[name='nerve']").eq(1).prop("checked","checked");
    }
    if($(this).attr("update-nutritionalStatus") === "一般") {
        $("#updateModal input[name='nutritionalStatus']").eq(1).prop("checked","checked");
    }
    if($(this).attr("update-nutritionalStatus") === "差") {
        $("#updateModal input[name='nutritionalStatus']").eq(2).prop("checked","checked");
    }

    $("#updateModal").modal({
        backdrop: "static"
    });
});

// 点击更新，更新信息
$("#update_btn").click(function () {
    // 清空表单样式
    clean_form("#updateModal form");

    var heartRate = $("#heartRate_update_input").val()
    var bloodPressureContract = $("#bloodPressureContract_update_input").val()
    var bloodPressureDiastole = $("#bloodPressureDiastole_update_input").val()

    // 匹配心率
    var heartRateRegex = /^[0-9]*$/;;
    if (heartRateRegex.test(heartRate) === false) {
        show_validate_msg("#heartRate_update_input",
            "error", "心率不合法");
        return false;
    }
    if (heartRateRegex.test(bloodPressureContract) === false) {
        show_validate_msg("#bloodPressureContract_update_input",
            "error", "收缩血压不合法");
        return false;
    }
    if (heartRateRegex.test(bloodPressureDiastole) === false) {
        show_validate_msg("#bloodPressureDiastole_update_input",
            "error", "舒张血压不合法");
        return false;
    }

    // 发送ajax请求修改内科信息
    $.ajax({
        url: "/examination/admin/editInternalInfo",
        type: "PUT",
        data: $("#updateModal form").serialize(),
        success: function (result) {
            if (result.code === 100) {
                $("#updateModal").modal('hide');
                $.alert('内科信息修改成功！');
                setTimeout(function () {
                    var pageNum = [[${internalInfoPageInfo.pageNum}]];
                    var pageSize = [[${internalInfoPageInfo.pageSize}]];
                    location.href = "/examination/internal/"+pageNum+"/"+pageSize;
                }, 1000);
            } else {
                $.alert('内科信息修改失败！');
            }
        }
    });
});
</script>
</body>
</html>