<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>新生体检信息录入系统</title>
    <!-- 引入bootstrap样式 -->
    <link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet" type="text/css">
    <!-- 图标库 -->
    <link th:href="@{/lyear/css/materialdesignicons.min.css}" rel="stylesheet" type="text/css"/>
    <!-- 弹出框样式 -->
    <link th:href="@{/lyear/jconfirm/jquery-confirm.min.css}" rel="stylesheet" type="text/css"/>
    <!-- 自定义样式 -->
    <link th:href="@{/lyear/css/style.min.css}" rel="stylesheet" type="text/css"/>

</head>
<body>
<div class="lyear-layout-web">
    <div class="lyear-layout-container">
        <!-- 左侧导航 -->
        <div th:replace="/common/leftbar::#leftbaraside"></div>
        <!-- 头部信息 -->
        <div th:replace="/common/topbar::#topbarheader"></div>

        <!-- 页面主要内容 -->
        <main class="lyear-layout-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <h4 class="col-md-5">外科</h4>
                                    <form class="col-md-5 " th:action="@{|/surgery/${surgeryInfoPageInfo.pageNum}/${surgeryInfoPageInfo.pageSize}|}" method="get" id="form">
                                        <div class="input-group">
                                            <input type="text" class="form-control" th:placeholder="${name!=null&&name.length()>2}?${name.substring(1,name.length()-1)}:'请输入学号'" id="name">
                                            <input type="hidden" id="name_like" name="name">
                                            <span class="input-group-addon btn" id="sub">
                                                    <span class="glyphicon glyphicon-search"></span> 搜索</span>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                        <tr>
                                            <th class="info">序号</th>
                                            <th class="info">学号</th>
                                            <th class="info">身高(cm)</th>
                                            <th class="info">体重(kg)</th>
                                            <th class="info">皮肤</th>
                                            <th class="info">四肢</th>
                                            <th class="info">淋巴</th>
                                            <th class="info">关节</th>
                                            <th class="info">脊柱</th>
                                            <th class="info">甲状腺</th>
                                            <th class="info">其他</th>
                                            <th class="info">医师意见</th>
                                        </tr>
                                        </thead>
                                        <tbody th:each="surgeryInfo:${surgeryInfoList}">
                                        <tr>
                                            <td th:text="${surgeryInfo.id}"></td>
                                            <td th:text="${surgeryInfo.no}"></td>
                                            <td th:text="${surgeryInfo.height}"></td>
                                            <td th:text="${surgeryInfo.weight}"></td>
                                            <td th:text="${surgeryInfo.skin}"></td>
                                            <td th:text="${surgeryInfo.limb}"></td>
                                            <td th:text="${surgeryInfo.lymph}"></td>
                                            <td th:text="${surgeryInfo.joint}"></td>
                                            <td th:text="${surgeryInfo.spine}"></td>
                                            <td th:text="${surgeryInfo.thyroid}"></td>
                                            <td th:text="${surgeryInfo.other}"></td>
                                            <td th:text="${surgeryInfo.physicianOpinion}"></td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- 显示分页信息 -->
                            <div class="row">
                                <div class="col-md-6" style="margin-left: 24px">
                                    <div class="btn-group">
                                        <button class="btn btn-default">
                                            <span>页次：</span>
                                        </button>
                                        <button class="btn btn-default">
                                            <span th:text="${surgeryInfoPageInfo.pageNum}+'/'+${surgeryInfoPageInfo.pages}+'页'"></span>
                                        </button>
                                        <button class="btn btn-default">
                                            <span>每页显示：</span>
                                        </button>
                                        <div class="btn-group">
                                            <button id="btnGroupDrop1"
                                                    class="btn btn-default dropdown-toggle"
                                                    data-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false"><span
                                                th:text="${surgeryInfoPageInfo.pageSize}"></span>
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li th:each="i:${#numbers.sequence(1,10)}">
                                                    <a th:text="${i}" th:href="@{|/surgery/${surgeryInfoPageInfo.pageNum}/${i}|}"></a>
                                                </li>
                                            </ul>
                                        </div>
                                        <button class="btn btn-default">
                                            <span>条</span>
                                        </button>
                                        <button class="btn btn-default">
                                            <span>总记录数：</span>
                                        </button>
                                        <button class="btn btn-default">
                                            <span th:text="${surgeryInfoPageInfo.total}+'条'"></span>
                                        </button>
                                    </div>
                                </div>
                                <!-- 分页条信息 -->
                                <div class="col-md-5">
                                    <nav aria-label="Page navigation">
                                        <ul class="pagination pagination-lg pull-right"
                                            style="margin-top: 0">
                                            <li>
                                                <a th:href="@{|/surgery/1/${surgeryInfoPageInfo.pageSize}|}">首页</a>
                                            </li>

                                            <li th:if="${surgeryInfoPageInfo.hasPreviousPage}"><a
                                                th:href="@{|/surgery/${surgeryInfoPageInfo.pageNum - 1}/${surgeryInfoPageInfo.pageSize}|}"
                                                aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
                                            </a></li>

                                            <li th:each="page_Num:${surgeryInfoPageInfo.navigatepageNums }"
                                                th:class="${page_Num == surgeryInfoPageInfo.pageNum?'active':''}">
                                                <a th:if="${page_Num == surgeryInfoPageInfo.pageNum}"
                                                   th:text="${page_Num}"
                                                   th:href="@{#}">
                                                </a>
                                                <a th:text="${page_Num}"
                                                   th:if="${page_Num != surgeryInfoPageInfo.pageNum}"
                                                   th:href="@{|/surgery/${page_Num}/${surgeryInfoPageInfo.pageSize}|}">
                                                </a>
                                            </li>

                                            <li th:if="${surgeryInfoPageInfo.hasNextPage }"><a
                                                th:href="@{|/surgery/${surgeryInfoPageInfo.pageNum + 1}/${surgeryInfoPageInfo.pageSize}|}"
                                                aria-label="Next"> <span aria-hidden="true">&raquo;</span>
                                            </a></li>

                                            <li><a
                                                th:href="@{|/surgery/${surgeryInfoPageInfo.pages}/${surgeryInfoPageInfo.pageSize}|}">末页</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<!-- 引入jQuery和bootstrap的js -->
<script th:src="@{/js/jquery-2.1.1.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.js}"></script>
<!-- 滚动条插件 -->
<script th:src="@{/lyear/js/perfect-scrollbar.min.js}"></script>
<!-- 弹出框js -->
<script th:src="@{/lyear/jconfirm/jquery-confirm.min.js}"></script>
<script th:src="@{/js/layer.js}"></script>
<!-- 自定义js脚本 -->
<script th:src="@{/lyear/js/main.min.js}"></script>
<script type="text/javascript">

// 模糊搜索
$("#sub").click(function () {
    var name =$("#name").val();
    if (name.length === 0) {
        layer.msg('请输入需要查询的内容！',{
            icon:2,
            offset: 't'
        });
        return false;
    }
    $("#name_like").val("%"+name+"%");
    $("#form").submit();
});
</script>
</body>
</html>