<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>新生体检信息录入系统</title>
    <!-- 引入bootstrap样式 -->
    <link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet" type="text/css">
    <!-- 图标库 -->
    <link th:href="@{/lyear/css/materialdesignicons.min.css}" rel="stylesheet" type="text/css"/>
    <!-- 弹出框样式 -->
    <link th:href="@{/lyear/jconfirm/jquery-confirm.min.css}" rel="stylesheet" type="text/css"/>
    <!-- 自定义样式 -->
    <link th:href="@{/lyear/css/style.min.css}" rel="stylesheet" type="text/css"/>
    <link rel="icon" th:href="@{/favicon.ico}">
</head>
<body>
<div class="lyear-layout-web">
    <div class="lyear-layout-container">
        <!-- 左侧导航 -->
        <div th:replace="/admin/common/leftbar::#leftbaraside"></div>
        <!-- 头部信息 -->
        <div th:replace="/admin/common/topbar::#topbarheader"></div>

        <!-- 页面主要内容 -->
        <main class="lyear-layout-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-header">
                                <div class="row">
                                    <h4 class="col-md-5">五官科信息</h4>
                                    <form class="col-md-5 " th:action="@{|/admin/facialFeatures/${facialFeaturesInfoPageInfo.pageNum}/${facialFeaturesInfoPageInfo.pageSize}|}" method="get" id="form">
                                        <div class="input-group">
                                            <input type="text" class="form-control" th:placeholder="${name!=null&&name.length()>2}?${name.substring(1,name.length()-1)}:'请输入学号'" id="name">
                                            <input type="hidden" id="name_like" name="name">
                                            <span class="input-group-addon btn" id="sub">
                                                    <span class="glyphicon glyphicon-search"></span> 搜索</span>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table table-hover table-striped">
                                        <thead>
                                        <tr>
                                            <th class="info">序号</th>
                                            <th class="info">学号</th>
                                            <th class="info">左耳听力(m)</th>
                                            <th class="info">右耳听力(m)</th>
                                            <th class="info">耳疾</th>
                                            <th class="info">口吃</th>
                                            <th class="info">嗅觉</th>
                                            <th class="info">其他</th>
                                            <th class="info">医师意见</th>
                                            <th class="info">操作</th>
                                        </tr>
                                        </thead>
                                        <tbody th:each="facialFeaturesInfo:${facialFeaturesInfoList}">
                                        <tr>
                                            <td th:text="${facialFeaturesInfo.id}"></td>
                                            <td th:text="${facialFeaturesInfo.no}"></td>
                                            <td th:text="${#numbers.formatDecimal(facialFeaturesInfo.hearingLeft,1,1)}/10"></td>
                                            <td th:text="${#numbers.formatDecimal(facialFeaturesInfo.hearingRight,1,1)}/10"></td>
                                            <td th:text="${facialFeaturesInfo.earInfection}"></td>
                                            <td th:text="${facialFeaturesInfo.stutter}"></td>
                                            <td th:text="${facialFeaturesInfo.smell}"></td>
                                            <td th:text="${facialFeaturesInfo.other}"></td>
                                            <td th:text="${facialFeaturesInfo.physicianOpinion}"></td>
                                            <td>
                                                <button class="btn btn-primary btn-sm update_btn"
                                                        th:attr="update-id=${facialFeaturesInfo.id},update-no=${facialFeaturesInfo.no},update-hearingLeft=${#numbers.formatDecimal(facialFeaturesInfo.hearingLeft,1,1)}/10,update-hearingRight=${#numbers.formatDecimal(facialFeaturesInfo.hearingRight,1,1)}/10,
                                                                 update-earInfection=${facialFeaturesInfo.earInfection},update-smell=${facialFeaturesInfo.smell},update-stutter=${facialFeaturesInfo.stutter},
                                                                 update-other=${facialFeaturesInfo.other},update-physicianOpinion=${facialFeaturesInfo.physicianOpinion}">
															<span class="glyphicon glyphicon-pencil"
                                                                  aria-hidden="true"></span> 编辑
                                                </button>
                                            </td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <!-- 显示分页信息 -->
                            <div class="row">
                                <div class="col-md-6" style="margin-left: 24px">
                                    <div class="btn-group">
                                        <button class="btn btn-default">
                                            <span>页次：</span>
                                        </button>
                                        <button class="btn btn-default">
                                            <span th:text="${facialFeaturesInfoPageInfo.pageNum}+'/'+${facialFeaturesInfoPageInfo.pages}+'页'"></span>
                                        </button>
                                        <button class="btn btn-default">
                                            <span>每页显示：</span>
                                        </button>
                                        <div class="btn-group">
                                            <button id="btnGroupDrop1"
                                                    class="btn btn-default dropdown-toggle"
                                                    data-toggle="dropdown" aria-haspopup="true"
                                                    aria-expanded="false"><span
                                                th:text="${facialFeaturesInfoPageInfo.pageSize}"></span>
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu">
                                                <li th:each="i:${#numbers.sequence(1,10)}">
                                                    <a th:text="${i}" th:href="@{|/admin/facialFeatures/${facialFeaturesInfoPageInfo.pageNum}/${i}|}"></a>
                                                </li>
                                            </ul>
                                        </div>
                                        <button class="btn btn-default">
                                            <span>条</span>
                                        </button>
                                        <button class="btn btn-default">
                                            <span>总记录数：</span>
                                        </button>
                                        <button class="btn btn-default">
                                            <span th:text="${facialFeaturesInfoPageInfo.total}+'条'"></span>
                                        </button>
                                    </div>
                                </div>
                                <!-- 分页条信息 -->
                                <div class="col-md-5">
                                    <nav aria-label="Page navigation">
                                        <ul class="pagination pagination-lg pull-right"
                                            style="margin-top: 0">
                                            <li>
                                                <a th:href="@{|/admin/facialFeatures/1/${facialFeaturesInfoPageInfo.pageSize}|}">首页</a>
                                            </li>

                                            <li th:if="${facialFeaturesInfoPageInfo.hasPreviousPage}"><a
                                                th:href="@{|/admin/facialFeatures/${facialFeaturesInfoPageInfo.pageNum - 1}/${facialFeaturesInfoPageInfo.pageSize}|}"
                                                aria-label="Previous"> <span aria-hidden="true">&laquo;</span>
                                            </a></li>

                                            <li th:each="page_Num:${facialFeaturesInfoPageInfo.navigatepageNums }"
                                                th:class="${page_Num == facialFeaturesInfoPageInfo.pageNum?'active':''}">
                                                <a th:if="${page_Num == facialFeaturesInfoPageInfo.pageNum}"
                                                   th:text="${page_Num}"
                                                   th:href="@{#}">
                                                </a>
                                                <a th:text="${page_Num}"
                                                   th:if="${page_Num != facialFeaturesInfoPageInfo.pageNum}"
                                                   th:href="@{|/admin/facialFeatures/${page_Num}/${facialFeaturesInfoPageInfo.pageSize}|}">
                                                </a>
                                            </li>

                                            <li th:if="${facialFeaturesInfoPageInfo.hasNextPage }"><a
                                                th:href="@{|/admin/facialFeatures/${facialFeaturesInfoPageInfo.pageNum + 1}/${facialFeaturesInfoPageInfo.pageSize}|}"
                                                aria-label="Next"> <span aria-hidden="true">&raquo;</span>
                                            </a></li>

                                            <li><a
                                                th:href="@{|/admin/facialFeatures/${facialFeaturesInfoPageInfo.pages}/${facialFeaturesInfoPageInfo.pageSize}|}">末页</a>
                                            </li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 修改五官科信息模态框 -->
                    <div class="modal fade" id="updateModal" tabindex="-1"
                         role="dialog" aria-labelledby="myModalLabel">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal"
                                            aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                    <h4 class="modal-title">修改五官科信息</h4>
                                </div>
                                <div class="modal-body">
                                    <!-- 要提交的表单 -->
                                    <form class="form-horizontal">
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">序号：</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control"
                                                       id="id_update_input" readonly="readonly" name="id">
                                                <span class="help-block"></span>
                                            </div>
                                            <div class="col-sm-1">
                                                <em style="color: red">*</em>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">学号：</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control"
                                                       id="no_update_input" readonly="readonly" name="no"
                                                       placeholder="请输入学号：">
                                                <span class="help-block"></span>
                                            </div>
                                            <div class="col-sm-1">
                                                <em style="color: red">*</em>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">左耳听力：</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control"
                                                       id="hearingLeft_update_input_test"
                                                       placeholder="请输入左耳听力(米)：">
                                                <input type="hidden" id="hearingLeft_update_input" name="hearingLeft">
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">右耳听力：</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control"
                                                       id="hearingRight_update_input_test"
                                                       placeholder="请输入右耳听力(米)：">
                                                <input type="hidden" id="hearingRight_update_input" name="hearingRight">
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">耳疾：</label>
                                            <div class="col-sm-6">
                                                <label class="lyear-radio radio-grey m-t-10 radio-inline">
                                                    <input type="radio" name="earInfection" value="无" checked>
                                                    <span>无</span>
                                                </label>
                                                <label class="lyear-radio radio-grey m-t-10 radio-inline">
                                                    <input type="radio" name="earInfection" value="其他">
                                                    <span>其他</span>
                                                </label>
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">口吃：</label>
                                            <div class="col-sm-6">
                                                <label class="lyear-radio radio-grey m-t-10 radio-inline">
                                                    <input type="radio" name="stutter" value="无" checked>
                                                    <span>无</span>
                                                </label>
                                                <label class="lyear-radio radio-grey m-t-10 radio-inline">
                                                    <input type="radio" name="stutter" value="其他">
                                                    <span>其他</span>
                                                </label>
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">嗅觉：</label>
                                            <div class="col-sm-6">
                                                <label class="lyear-radio radio-grey m-t-10 radio-inline">
                                                    <input type="radio" name="smell" value="正常" checked>
                                                    <span>正常</span>
                                                </label>
                                                <label class="lyear-radio radio-grey m-t-10 radio-inline">
                                                    <input type="radio" name="smell" value="其他">
                                                    <span>其他</span>
                                                </label>
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">其他：</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control"
                                                       id="other_update_input" name="other"
                                                       placeholder="其他：">
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-sm-2 control-label">医师意见：</label>
                                            <div class="col-sm-6">
                                                <input type="text" class="form-control"
                                                       id="physicianOpinion_update_input" name="physicianOpinion"
                                                       placeholder="医师意见：">
                                                <span class="help-block"></span>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default"
                                            data-dismiss="modal">关闭
                                    </button>
                                    <button type="button" class="btn btn-primary"
                                            id="update_btn">更新
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>

<!-- 引入jQuery和bootstrap的js -->
<script th:src="@{/js/jquery-2.1.1.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.js}"></script>
<!-- 滚动条插件 -->
<script th:src="@{/lyear/js/perfect-scrollbar.min.js}"></script>
<!-- 弹出框js -->
<script th:src="@{/lyear/jconfirm/jquery-confirm.min.js}"></script>
<script th:src="@{/js/layer.js}"></script>
<!-- 自定义js脚本 -->
<script th:src="@{/lyear/js/main.min.js}"></script>
<script th:src="@{/js/style.js}"></script>
<script type="text/javascript">
// 模糊搜索
$("#sub").click(function () {
    var name =$("#name").val();
    if (name.length === 0) {
        layer.msg('请输入需要查询的内容！',{
            icon:2,
            offset: 't'
        });
        return false;
    }
    $("#name_like").val("%"+name+"%");
    $("#form").submit();
});

// 点击编辑按钮时触发事件
$(document).on("click", ".update_btn", function () {
    // 显示数据之前先清除一下校验样式，如果有的话
    reset_form("#updateModal form");

    $("#id_update_input").val($(this).attr("update-id"));
    $("#no_update_input").val($(this).attr("update-no"));
    $("#hearingLeft_update_input_test").val($(this).attr("update-hearingLeft"));
    $("#hearingRight_update_input_test").val($(this).attr("update-hearingRight"));
    $("#other_update_input").val($(this).attr("update-other"));
    $("#physicianOpinion_update_input").val($(this).attr("update-physicianOpinion"));
    if($(this).attr("update-earInfection") === "其他") {
        $("#updateModal input[name='earInfection']").eq(1).prop("checked","checked");
    }
    if($(this).attr("update-smell") === "其他") {
        $("#updateModal input[name='smell']").eq(1).prop("checked","checked");
    }
    if($(this).attr("update-stutter") === "其他") {
        $("#updateModal input[name='stutter']").eq(1).prop("checked","checked");
    }

    $("#updateModal").modal({
        backdrop: "static"
    });
});

// 点击更新，更新信息
$("#update_btn").click(function () {
    // 清空表单样式
    clean_form("#updateModal form");

    var hearingLeft = $("#hearingLeft_update_input_test").val()
    var hearingRight = $("#hearingRight_update_input_test").val()

    // 匹配听力
    var hearing = /^\d{1,2}(\.\d)?$/;
    if (hearing.test(hearingLeft) === false) {
        show_validate_msg("#hearingLeft_update_input",
            "error", "左耳听力不合法");
        return false;
    }
    if (hearing.test(hearingRight) === false) {
        show_validate_msg("#hearingRight_update_input",
            "error", "右耳听力)不合法");
        return false;
    }

    $("#hearingLeft_update_input").val(hearingLeft * 10);
    $("#hearingRight_update_input").val(hearingRight * 10);

    // 发送ajax请求修改五官科信息
    $.ajax({
        url: "/examination/admin/editFacialFeaturesInfo",
        type: "PUT",
        data: $("#updateModal form").serialize(),
        success: function (result) {
            if (result.code === 100) {
                $("#updateModal").modal('hide');
                $.alert('五官科信息修改成功！');
                setTimeout(function () {
                    var pageNum = [[${facialFeaturesInfoPageInfo.pageNum}]];
                    var pageSize = [[${facialFeaturesInfoPageInfo.pageSize}]];
                    location.href = "/examination/admin/facialFeatures/"+pageNum+"/"+pageSize;
                }, 1000);
            } else {
                $.alert('五官科信息修改失败！');
            }
        }
    });
});
</script>
</body>
</html>