<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ksling.examination.mapper.EyeInfoMapper">
  <resultMap id="BaseResultMap" type="cn.ksling.examination.entity.EyeInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="no" jdbcType="INTEGER" property="no" />
    <result column="naked_vision_left" jdbcType="INTEGER" property="nakedVisionLeft" />
    <result column="naked_vision_right" jdbcType="INTEGER" property="nakedVisionRight" />
    <result column="corrected_vision_left" jdbcType="INTEGER" property="correctedVisionLeft" />
    <result column="corrected_vision_right" jdbcType="INTEGER" property="correctedVisionRight" />
    <result column="degree_left" jdbcType="INTEGER" property="degreeLeft" />
    <result column="degree_right" jdbcType="INTEGER" property="degreeRight" />
    <result column="color_vision" jdbcType="VARCHAR" property="colorVision" />
    <result column="other" jdbcType="VARCHAR" property="other" />
    <result column="physician_opinion" jdbcType="VARCHAR" property="physicianOpinion" />
  </resultMap>
  <sql id="Base_Column_List">
    id, no, naked_vision_left, naked_vision_right, corrected_vision_left, corrected_vision_right, 
    degree_left, degree_right, color_vision, other, physician_opinion
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from eye_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from eye_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.ksling.examination.entity.EyeInfo">
    insert into eye_info (id, no, naked_vision_left, 
      naked_vision_right, corrected_vision_left, 
      corrected_vision_right, degree_left, degree_right, 
      color_vision, other, physician_opinion
      )
    values (#{id,jdbcType=INTEGER}, #{no,jdbcType=INTEGER}, #{nakedVisionLeft,jdbcType=INTEGER}, 
      #{nakedVisionRight,jdbcType=INTEGER}, #{correctedVisionLeft,jdbcType=INTEGER}, 
      #{correctedVisionRight,jdbcType=INTEGER}, #{degreeLeft,jdbcType=INTEGER}, #{degreeRight,jdbcType=INTEGER}, 
      #{colorVision,jdbcType=VARCHAR}, #{other,jdbcType=VARCHAR}, #{physicianOpinion,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.ksling.examination.entity.EyeInfo">
    insert into eye_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="no != null">
        no,
      </if>
      <if test="nakedVisionLeft != null">
        naked_vision_left,
      </if>
      <if test="nakedVisionRight != null">
        naked_vision_right,
      </if>
      <if test="correctedVisionLeft != null">
        corrected_vision_left,
      </if>
      <if test="correctedVisionRight != null">
        corrected_vision_right,
      </if>
      <if test="degreeLeft != null">
        degree_left,
      </if>
      <if test="degreeRight != null">
        degree_right,
      </if>
      <if test="colorVision != null">
        color_vision,
      </if>
      <if test="other != null">
        other,
      </if>
      <if test="physicianOpinion != null">
        physician_opinion,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="no != null">
        #{no,jdbcType=INTEGER},
      </if>
      <if test="nakedVisionLeft != null">
        #{nakedVisionLeft,jdbcType=INTEGER},
      </if>
      <if test="nakedVisionRight != null">
        #{nakedVisionRight,jdbcType=INTEGER},
      </if>
      <if test="correctedVisionLeft != null">
        #{correctedVisionLeft,jdbcType=INTEGER},
      </if>
      <if test="correctedVisionRight != null">
        #{correctedVisionRight,jdbcType=INTEGER},
      </if>
      <if test="degreeLeft != null">
        #{degreeLeft,jdbcType=INTEGER},
      </if>
      <if test="degreeRight != null">
        #{degreeRight,jdbcType=INTEGER},
      </if>
      <if test="colorVision != null">
        #{colorVision,jdbcType=VARCHAR},
      </if>
      <if test="other != null">
        #{other,jdbcType=VARCHAR},
      </if>
      <if test="physicianOpinion != null">
        #{physicianOpinion,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.ksling.examination.entity.EyeInfo">
    update eye_info
    <set>
      <if test="no != null">
        no = #{no,jdbcType=INTEGER},
      </if>
      <if test="nakedVisionLeft != null">
        naked_vision_left = #{nakedVisionLeft,jdbcType=INTEGER},
      </if>
      <if test="nakedVisionRight != null">
        naked_vision_right = #{nakedVisionRight,jdbcType=INTEGER},
      </if>
      <if test="correctedVisionLeft != null">
        corrected_vision_left = #{correctedVisionLeft,jdbcType=INTEGER},
      </if>
      <if test="correctedVisionRight != null">
        corrected_vision_right = #{correctedVisionRight,jdbcType=INTEGER},
      </if>
      <if test="degreeLeft != null">
        degree_left = #{degreeLeft,jdbcType=INTEGER},
      </if>
      <if test="degreeRight != null">
        degree_right = #{degreeRight,jdbcType=INTEGER},
      </if>
      <if test="colorVision != null">
        color_vision = #{colorVision,jdbcType=VARCHAR},
      </if>
      <if test="other != null">
        other = #{other,jdbcType=VARCHAR},
      </if>
      <if test="physicianOpinion != null">
        physician_opinion = #{physicianOpinion,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.ksling.examination.entity.EyeInfo">
    update eye_info
    set no = #{no,jdbcType=INTEGER},
      naked_vision_left = #{nakedVisionLeft,jdbcType=INTEGER},
      naked_vision_right = #{nakedVisionRight,jdbcType=INTEGER},
      corrected_vision_left = #{correctedVisionLeft,jdbcType=INTEGER},
      corrected_vision_right = #{correctedVisionRight,jdbcType=INTEGER},
      degree_left = #{degreeLeft,jdbcType=INTEGER},
      degree_right = #{degreeRight,jdbcType=INTEGER},
      color_vision = #{colorVision,jdbcType=VARCHAR},
      other = #{other,jdbcType=VARCHAR},
      physician_opinion = #{physicianOpinion,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectEyeInfoByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from eye_info
    <if test="_parameter != null">
        where no like #{name,jdbcType=VARCHAR}
    </if>
  </select>
  <select id="selectEyeInfoByNo" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from eye_info
    where no = #{no,jdbcType=INTEGER}
  </select>
</mapper>