<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ksling.examination.mapper.FacialFeaturesInfoMapper">
  <resultMap id="BaseResultMap" type="cn.ksling.examination.entity.FacialFeaturesInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="no" jdbcType="INTEGER" property="no" />
    <result column="hearing_left" jdbcType="INTEGER" property="hearingLeft" />
    <result column="hearing_right" jdbcType="INTEGER" property="hearingRight" />
    <result column="ear_infection" jdbcType="VARCHAR" property="earInfection" />
    <result column="smell" jdbcType="VARCHAR" property="smell" />
    <result column="stutter" jdbcType="VARCHAR" property="stutter" />
    <result column="other" jdbcType="VARCHAR" property="other" />
    <result column="physician_opinion" jdbcType="VARCHAR" property="physicianOpinion" />
  </resultMap>
  <sql id="Base_Column_List">
    id, no, hearing_left, hearing_right, ear_infection, smell, stutter, other, physician_opinion
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from facial_features_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from facial_features_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.ksling.examination.entity.FacialFeaturesInfo">
    insert into facial_features_info (id, no, hearing_left, 
      hearing_right, ear_infection, smell, 
      stutter, other, physician_opinion
      )
    values (#{id,jdbcType=INTEGER}, #{no,jdbcType=INTEGER}, #{hearingLeft,jdbcType=INTEGER}, 
      #{hearingRight,jdbcType=INTEGER}, #{earInfection,jdbcType=VARCHAR}, #{smell,jdbcType=VARCHAR}, 
      #{stutter,jdbcType=VARCHAR}, #{other,jdbcType=VARCHAR}, #{physicianOpinion,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.ksling.examination.entity.FacialFeaturesInfo">
    insert into facial_features_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="no != null">
        no,
      </if>
      <if test="hearingLeft != null">
        hearing_left,
      </if>
      <if test="hearingRight != null">
        hearing_right,
      </if>
      <if test="earInfection != null">
        ear_infection,
      </if>
      <if test="smell != null">
        smell,
      </if>
      <if test="stutter != null">
        stutter,
      </if>
      <if test="other != null">
        other,
      </if>
      <if test="physicianOpinion != null">
        physician_opinion,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="no != null">
        #{no,jdbcType=INTEGER},
      </if>
      <if test="hearingLeft != null">
        #{hearingLeft,jdbcType=INTEGER},
      </if>
      <if test="hearingRight != null">
        #{hearingRight,jdbcType=INTEGER},
      </if>
      <if test="earInfection != null">
        #{earInfection,jdbcType=VARCHAR},
      </if>
      <if test="smell != null">
        #{smell,jdbcType=VARCHAR},
      </if>
      <if test="stutter != null">
        #{stutter,jdbcType=VARCHAR},
      </if>
      <if test="other != null">
        #{other,jdbcType=VARCHAR},
      </if>
      <if test="physicianOpinion != null">
        #{physicianOpinion,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.ksling.examination.entity.FacialFeaturesInfo">
    update facial_features_info
    <set>
      <if test="no != null">
        no = #{no,jdbcType=INTEGER},
      </if>
      <if test="hearingLeft != null">
        hearing_left = #{hearingLeft,jdbcType=INTEGER},
      </if>
      <if test="hearingRight != null">
        hearing_right = #{hearingRight,jdbcType=INTEGER},
      </if>
      <if test="earInfection != null">
        ear_infection = #{earInfection,jdbcType=VARCHAR},
      </if>
      <if test="smell != null">
        smell = #{smell,jdbcType=VARCHAR},
      </if>
      <if test="stutter != null">
        stutter = #{stutter,jdbcType=VARCHAR},
      </if>
      <if test="other != null">
        other = #{other,jdbcType=VARCHAR},
      </if>
      <if test="physicianOpinion != null">
        physician_opinion = #{physicianOpinion,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.ksling.examination.entity.FacialFeaturesInfo">
    update facial_features_info
    set no = #{no,jdbcType=INTEGER},
      hearing_left = #{hearingLeft,jdbcType=INTEGER},
      hearing_right = #{hearingRight,jdbcType=INTEGER},
      ear_infection = #{earInfection,jdbcType=VARCHAR},
      smell = #{smell,jdbcType=VARCHAR},
      stutter = #{stutter,jdbcType=VARCHAR},
      other = #{other,jdbcType=VARCHAR},
      physician_opinion = #{physicianOpinion,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>