<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ksling.examination.mapper.GeneralInfoMapper">
  <resultMap id="BaseResultMap" type="cn.ksling.examination.entity.GeneralInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="no" jdbcType="INTEGER" property="no" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="gender" jdbcType="VARCHAR" property="gender" />
    <result column="birth_day" jdbcType="DATE" property="birthDay" />
    <result column="address" jdbcType="VARCHAR" property="address" />
    <result column="phone_no" jdbcType="VARCHAR" property="phoneNo" />
    <result column="school_name" jdbcType="VARCHAR" property="schoolName" />
    <result column="entry_time" jdbcType="DATE" property="entryTime" />
    <result column="profile_photo" jdbcType="VARCHAR" property="profilePhoto" />
    <result column="medical_history" jdbcType="VARCHAR" property="medicalHistory" />
  </resultMap>
  <sql id="Base_Column_List">
    id, no, name, gender, birth_day, address, phone_no, school_name, entry_time, profile_photo, 
    medical_history
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from general_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from general_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.ksling.examination.entity.GeneralInfo">
    insert into general_info (id, no, name, 
      gender, birth_day, address, 
      phone_no, school_name, entry_time, 
      profile_photo, medical_history)
    values (#{id,jdbcType=INTEGER}, #{no,jdbcType=INTEGER}, #{name,jdbcType=VARCHAR}, 
      #{gender,jdbcType=VARCHAR}, #{birthDay,jdbcType=DATE}, #{address,jdbcType=VARCHAR}, 
      #{phoneNo,jdbcType=VARCHAR}, #{schoolName,jdbcType=VARCHAR}, #{entryTime,jdbcType=DATE}, 
      #{profilePhoto,jdbcType=VARCHAR}, #{medicalHistory,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="cn.ksling.examination.entity.GeneralInfo">
    insert into general_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="no != null">
        no,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="gender != null">
        gender,
      </if>
      <if test="birthDay != null">
        birth_day,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="phoneNo != null">
        phone_no,
      </if>
      <if test="schoolName != null">
        school_name,
      </if>
      <if test="entryTime != null">
        entry_time,
      </if>
      <if test="profilePhoto != null">
        profile_photo,
      </if>
      <if test="medicalHistory != null">
        medical_history,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="no != null">
        #{no,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        #{gender,jdbcType=VARCHAR},
      </if>
      <if test="birthDay != null">
        #{birthDay,jdbcType=DATE},
      </if>
      <if test="address != null">
        #{address,jdbcType=VARCHAR},
      </if>
      <if test="phoneNo != null">
        #{phoneNo,jdbcType=VARCHAR},
      </if>
      <if test="schoolName != null">
        #{schoolName,jdbcType=VARCHAR},
      </if>
      <if test="entryTime != null">
        #{entryTime,jdbcType=DATE},
      </if>
      <if test="profilePhoto != null">
        #{profilePhoto,jdbcType=VARCHAR},
      </if>
      <if test="medicalHistory != null">
        #{medicalHistory,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.ksling.examination.entity.GeneralInfo">
    update general_info
    <set>
      <if test="no != null">
        no = #{no,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="gender != null">
        gender = #{gender,jdbcType=VARCHAR},
      </if>
      <if test="birthDay != null">
        birth_day = #{birthDay,jdbcType=DATE},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=VARCHAR},
      </if>
      <if test="phoneNo != null">
        phone_no = #{phoneNo,jdbcType=VARCHAR},
      </if>
      <if test="schoolName != null">
        school_name = #{schoolName,jdbcType=VARCHAR},
      </if>
      <if test="entryTime != null">
        entry_time = #{entryTime,jdbcType=DATE},
      </if>
      <if test="profilePhoto != null">
        profile_photo = #{profilePhoto,jdbcType=VARCHAR},
      </if>
      <if test="medicalHistory != null">
        medical_history = #{medicalHistory,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.ksling.examination.entity.GeneralInfo">
    update general_info
    set no = #{no,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      gender = #{gender,jdbcType=VARCHAR},
      birth_day = #{birthDay,jdbcType=DATE},
      address = #{address,jdbcType=VARCHAR},
      phone_no = #{phoneNo,jdbcType=VARCHAR},
      school_name = #{schoolName,jdbcType=VARCHAR},
      entry_time = #{entryTime,jdbcType=DATE},
      profile_photo = #{profilePhoto,jdbcType=VARCHAR},
      medical_history = #{medicalHistory,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectGeneralInfoByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from general_info
    <if test="_parameter != null">
      where name like #{name,jdbcType=VARCHAR}
      or no like #{name,jdbcType=VARCHAR}
    </if>
  </select>
</mapper>