<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ksling.examination.mapper.InternalInfoMapper">
  <resultMap id="BaseResultMap" type="cn.ksling.examination.entity.InternalInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="no" jdbcType="INTEGER" property="no" />
    <result column="heart_rate" jdbcType="INTEGER" property="heartRate" />
    <result column="blood_pressure_contract" jdbcType="INTEGER" property="bloodPressureContract" />
    <result column="blood_pressure_diastole" jdbcType="INTEGER" property="bloodPressureDiastole" />
    <result column="liver_function" jdbcType="VARCHAR" property="liverFunction" />
    <result column="nutritional_status" jdbcType="VARCHAR" property="nutritionalStatus" />
    <result column="cardiovascular" jdbcType="VARCHAR" property="cardiovascular" />
    <result column="nerve" jdbcType="VARCHAR" property="nerve" />
    <result column="liver" jdbcType="VARCHAR" property="liver" />
    <result column="lung" jdbcType="VARCHAR" property="lung" />
    <result column="spleen" jdbcType="VARCHAR" property="spleen" />
    <result column="other" jdbcType="VARCHAR" property="other" />
    <result column="physician_opinion" jdbcType="VARCHAR" property="physicianOpinion" />
  </resultMap>
  <sql id="Base_Column_List">
    id, no, heart_rate, blood_pressure_contract, blood_pressure_diastole, liver_function, 
    nutritional_status, cardiovascular, nerve, liver, lung, spleen, other, physician_opinion
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from internal_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from internal_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.ksling.examination.entity.InternalInfo">
    insert into internal_info (id, no, heart_rate, 
      blood_pressure_contract, blood_pressure_diastole, 
      liver_function, nutritional_status, cardiovascular, 
      nerve, liver, lung, 
      spleen, other, physician_opinion
      )
    values (#{id,jdbcType=INTEGER}, #{no,jdbcType=INTEGER}, #{heartRate,jdbcType=INTEGER}, 
      #{bloodPressureContract,jdbcType=INTEGER}, #{bloodPressureDiastole,jdbcType=INTEGER}, 
      #{liverFunction,jdbcType=VARCHAR}, #{nutritionalStatus,jdbcType=VARCHAR}, #{cardiovascular,jdbcType=VARCHAR}, 
      #{nerve,jdbcType=VARCHAR}, #{liver,jdbcType=VARCHAR}, #{lung,jdbcType=VARCHAR}, 
      #{spleen,jdbcType=VARCHAR}, #{other,jdbcType=VARCHAR}, #{physicianOpinion,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.ksling.examination.entity.InternalInfo">
    insert into internal_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="no != null">
        no,
      </if>
      <if test="heartRate != null">
        heart_rate,
      </if>
      <if test="bloodPressureContract != null">
        blood_pressure_contract,
      </if>
      <if test="bloodPressureDiastole != null">
        blood_pressure_diastole,
      </if>
      <if test="liverFunction != null">
        liver_function,
      </if>
      <if test="nutritionalStatus != null">
        nutritional_status,
      </if>
      <if test="cardiovascular != null">
        cardiovascular,
      </if>
      <if test="nerve != null">
        nerve,
      </if>
      <if test="liver != null">
        liver,
      </if>
      <if test="lung != null">
        lung,
      </if>
      <if test="spleen != null">
        spleen,
      </if>
      <if test="other != null">
        other,
      </if>
      <if test="physicianOpinion != null">
        physician_opinion,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="no != null">
        #{no,jdbcType=INTEGER},
      </if>
      <if test="heartRate != null">
        #{heartRate,jdbcType=INTEGER},
      </if>
      <if test="bloodPressureContract != null">
        #{bloodPressureContract,jdbcType=INTEGER},
      </if>
      <if test="bloodPressureDiastole != null">
        #{bloodPressureDiastole,jdbcType=INTEGER},
      </if>
      <if test="liverFunction != null">
        #{liverFunction,jdbcType=VARCHAR},
      </if>
      <if test="nutritionalStatus != null">
        #{nutritionalStatus,jdbcType=VARCHAR},
      </if>
      <if test="cardiovascular != null">
        #{cardiovascular,jdbcType=VARCHAR},
      </if>
      <if test="nerve != null">
        #{nerve,jdbcType=VARCHAR},
      </if>
      <if test="liver != null">
        #{liver,jdbcType=VARCHAR},
      </if>
      <if test="lung != null">
        #{lung,jdbcType=VARCHAR},
      </if>
      <if test="spleen != null">
        #{spleen,jdbcType=VARCHAR},
      </if>
      <if test="other != null">
        #{other,jdbcType=VARCHAR},
      </if>
      <if test="physicianOpinion != null">
        #{physicianOpinion,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.ksling.examination.entity.InternalInfo">
    update internal_info
    <set>
      <if test="no != null">
        no = #{no,jdbcType=INTEGER},
      </if>
      <if test="heartRate != null">
        heart_rate = #{heartRate,jdbcType=INTEGER},
      </if>
      <if test="bloodPressureContract != null">
        blood_pressure_contract = #{bloodPressureContract,jdbcType=INTEGER},
      </if>
      <if test="bloodPressureDiastole != null">
        blood_pressure_diastole = #{bloodPressureDiastole,jdbcType=INTEGER},
      </if>
      <if test="liverFunction != null">
        liver_function = #{liverFunction,jdbcType=VARCHAR},
      </if>
      <if test="nutritionalStatus != null">
        nutritional_status = #{nutritionalStatus,jdbcType=VARCHAR},
      </if>
      <if test="cardiovascular != null">
        cardiovascular = #{cardiovascular,jdbcType=VARCHAR},
      </if>
      <if test="nerve != null">
        nerve = #{nerve,jdbcType=VARCHAR},
      </if>
      <if test="liver != null">
        liver = #{liver,jdbcType=VARCHAR},
      </if>
      <if test="lung != null">
        lung = #{lung,jdbcType=VARCHAR},
      </if>
      <if test="spleen != null">
        spleen = #{spleen,jdbcType=VARCHAR},
      </if>
      <if test="other != null">
        other = #{other,jdbcType=VARCHAR},
      </if>
      <if test="physicianOpinion != null">
        physician_opinion = #{physicianOpinion,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.ksling.examination.entity.InternalInfo">
    update internal_info
    set no = #{no,jdbcType=INTEGER},
      heart_rate = #{heartRate,jdbcType=INTEGER},
      blood_pressure_contract = #{bloodPressureContract,jdbcType=INTEGER},
      blood_pressure_diastole = #{bloodPressureDiastole,jdbcType=INTEGER},
      liver_function = #{liverFunction,jdbcType=VARCHAR},
      nutritional_status = #{nutritionalStatus,jdbcType=VARCHAR},
      cardiovascular = #{cardiovascular,jdbcType=VARCHAR},
      nerve = #{nerve,jdbcType=VARCHAR},
      liver = #{liver,jdbcType=VARCHAR},
      lung = #{lung,jdbcType=VARCHAR},
      spleen = #{spleen,jdbcType=VARCHAR},
      other = #{other,jdbcType=VARCHAR},
      physician_opinion = #{physicianOpinion,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="selectInternalInfoByName" parameterType="java.lang.String" resultMap="BaseResultMap">
    select
    <include refid="Base_Column_List" />
    from internal_info
    <if test="_parameter != null">
        where no like #{name,jdbcType=VARCHAR}
    </if>
  </select>
</mapper>