<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ksling.examination.mapper.SurgeryInfoMapper">
  <resultMap id="BaseResultMap" type="cn.ksling.examination.entity.SurgeryInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="no" jdbcType="INTEGER" property="no" />
    <result column="height" jdbcType="INTEGER" property="height" />
    <result column="weight" jdbcType="INTEGER" property="weight" />
    <result column="skin" jdbcType="VARCHAR" property="skin" />
    <result column="limb" jdbcType="VARCHAR" property="limb" />
    <result column="lymph" jdbcType="VARCHAR" property="lymph" />
    <result column="joint" jdbcType="VARCHAR" property="joint" />
    <result column="spine" jdbcType="VARCHAR" property="spine" />
    <result column="thyroid" jdbcType="VARCHAR" property="thyroid" />
    <result column="other" jdbcType="VARCHAR" property="other" />
    <result column="physician_opinion" jdbcType="VARCHAR" property="physicianOpinion" />
  </resultMap>
  <sql id="Base_Column_List">
    id, no, height, weight, skin, limb, lymph, joint, spine, thyroid, other, physician_opinion
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from surgery_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from surgery_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="cn.ksling.examination.entity.SurgeryInfo">
    insert into surgery_info (id, no, height, 
      weight, skin, limb, 
      lymph, joint, spine, 
      thyroid, other, physician_opinion
      )
    values (#{id,jdbcType=INTEGER}, #{no,jdbcType=INTEGER}, #{height,jdbcType=INTEGER}, 
      #{weight,jdbcType=INTEGER}, #{skin,jdbcType=VARCHAR}, #{limb,jdbcType=VARCHAR}, 
      #{lymph,jdbcType=VARCHAR}, #{joint,jdbcType=VARCHAR}, #{spine,jdbcType=VARCHAR}, 
      #{thyroid,jdbcType=VARCHAR}, #{other,jdbcType=VARCHAR}, #{physicianOpinion,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="cn.ksling.examination.entity.SurgeryInfo">
    insert into surgery_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="no != null">
        no,
      </if>
      <if test="height != null">
        height,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="skin != null">
        skin,
      </if>
      <if test="limb != null">
        limb,
      </if>
      <if test="lymph != null">
        lymph,
      </if>
      <if test="joint != null">
        joint,
      </if>
      <if test="spine != null">
        spine,
      </if>
      <if test="thyroid != null">
        thyroid,
      </if>
      <if test="other != null">
        other,
      </if>
      <if test="physicianOpinion != null">
        physician_opinion,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="no != null">
        #{no,jdbcType=INTEGER},
      </if>
      <if test="height != null">
        #{height,jdbcType=INTEGER},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=INTEGER},
      </if>
      <if test="skin != null">
        #{skin,jdbcType=VARCHAR},
      </if>
      <if test="limb != null">
        #{limb,jdbcType=VARCHAR},
      </if>
      <if test="lymph != null">
        #{lymph,jdbcType=VARCHAR},
      </if>
      <if test="joint != null">
        #{joint,jdbcType=VARCHAR},
      </if>
      <if test="spine != null">
        #{spine,jdbcType=VARCHAR},
      </if>
      <if test="thyroid != null">
        #{thyroid,jdbcType=VARCHAR},
      </if>
      <if test="other != null">
        #{other,jdbcType=VARCHAR},
      </if>
      <if test="physicianOpinion != null">
        #{physicianOpinion,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="cn.ksling.examination.entity.SurgeryInfo">
    update surgery_info
    <set>
      <if test="no != null">
        no = #{no,jdbcType=INTEGER},
      </if>
      <if test="height != null">
        height = #{height,jdbcType=INTEGER},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=INTEGER},
      </if>
      <if test="skin != null">
        skin = #{skin,jdbcType=VARCHAR},
      </if>
      <if test="limb != null">
        limb = #{limb,jdbcType=VARCHAR},
      </if>
      <if test="lymph != null">
        lymph = #{lymph,jdbcType=VARCHAR},
      </if>
      <if test="joint != null">
        joint = #{joint,jdbcType=VARCHAR},
      </if>
      <if test="spine != null">
        spine = #{spine,jdbcType=VARCHAR},
      </if>
      <if test="thyroid != null">
        thyroid = #{thyroid,jdbcType=VARCHAR},
      </if>
      <if test="other != null">
        other = #{other,jdbcType=VARCHAR},
      </if>
      <if test="physicianOpinion != null">
        physician_opinion = #{physicianOpinion,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="cn.ksling.examination.entity.SurgeryInfo">
    update surgery_info
    set no = #{no,jdbcType=INTEGER},
      height = #{height,jdbcType=INTEGER},
      weight = #{weight,jdbcType=INTEGER},
      skin = #{skin,jdbcType=VARCHAR},
      limb = #{limb,jdbcType=VARCHAR},
      lymph = #{lymph,jdbcType=VARCHAR},
      joint = #{joint,jdbcType=VARCHAR},
      spine = #{spine,jdbcType=VARCHAR},
      thyroid = #{thyroid,jdbcType=VARCHAR},
      other = #{other,jdbcType=VARCHAR},
      physician_opinion = #{physicianOpinion,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>