<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>leftbar</title>
</head>
<body>
<!-- 左侧导航 -->
<aside class="lyear-layout-sidebar" id="leftbaraside">
    <div id="logo" class="sidebar-header" style="height: 68px">
        <a class="navbar-brand" style="font-size: 20px"
           th:href="@{/admin/index}">后台管理系统</a>
    </div>
    <div class="lyear-layout-sidebar-scroll">
        <nav class="sidebar-main">
            <ul class="nav nav-drawer">
                <li class="nav-item" th:class="${activeUrl=='indexActive'?'nav-item active':'nav-item'}"><a
                        th:href="@{/admin/index}"><i
                        class="mdi mdi-home"></i>系统首页</a></li>
                <li shiro:hasRole="admin" class="nav-item nav-item-has-subnav"
                    th:class="${activeUrl1=='infoActive'?'nav-item nav-item-has-subnav active open':'nav-item nav-item-has-subnav'}">
                    <a href="javascript:void(0)"><i class="mdi mdi-account-card-details"></i>
                        体检信息</a>
                    <ul class="nav nav-subnav">
                        <li th:class="${activeUrl2=='generalInfoActive'?'active':''}"><a
                                th:href="@{/admin/general/1/5}">基本信息</a></li>
                        <li th:class="${activeUrl2=='eyeInfoActive'?'active':''}"><a
                            th:href="@{/admin/eye/1/5}">眼科信息</a></li>
                        <li th:class="${activeUrl2=='facialFeaturesInfoActive'?'active':''}"><a
                            th:href="@{/admin/facialFeatures/1/5}">五官科信息</a></li>
                        <li th:class="${activeUrl2=='internalInfoActive'?'active':''}"><a
                            th:href="@{/admin/internal/1/5}">内科信息</a></li>
                        <li th:class="${activeUrl2=='surgeryInfoActive'?'active':''}"><a
                            th:href="@{/admin/surgery/1/5}">外科信息</a></li>
                        <li th:class="${activeUrl2=='resultInfoActive'?'active':''}"><a
                            th:href="@{/admin/result/1/5}">体检结果</a></li>
                    </ul>
                </li>
                <li shiro:hasRole="admin" class="nav-item nav-item-has-subnav"
                    th:class="${activeUrl1=='chartActive'?'nav-item nav-item-has-subnav active open':'nav-item nav-item-has-subnav'}">
                    <a href="javascript:void(0)"><i class="mdi mdi-chart-arc"></i>
                        统计分析</a>
                    <ul class="nav nav-subnav">
                        <li th:class="${activeUrl2=='genderActive'?'active':''}"><a
                            th:href="@{/admin/gender}">性别比例</a></li>
                        <li th:class="${activeUrl2=='degreeActive'?'active':''}"><a
                            th:href="@{/admin/degree}">左右眼度数分布</a></li>
                    </ul>
                </li>
                <li shiro:hasRole="admin" class="nav-item nav-item-has-subnav"
                    th:class="${activeUrl1=='operationActive'?'nav-item nav-item-has-subnav active open':'nav-item nav-item-has-subnav'}">
                    <a href="javascript:void(0)"><i class="mdi mdi-steam"></i>
                        相关操作</a>
                    <ul class="nav nav-subnav">
                        <li th:class="${activeUrl2=='printWordActive'?'active':''}"><a
                            th:href="@{/print}">打印与导出</a></li>
                    </ul>
                </li>
                <li shiro:hasRole="admin" class="nav-item nav-item-has-subnav"
                    th:class="${activeUrl1=='userActive'?'nav-item nav-item-has-subnav active open':'nav-item nav-item-has-subnav'}">
                    <a href="javascript:void(0)"><i class="mdi mdi-account-settings-variant"></i>
                        用户中心</a>
                    <ul class="nav nav-subnav">
                        <li th:class="${activeUrl2=='userInfoActive'?'active':''}"><a
                            th:href="@{/admin/user/1/5}">用户信息</a></li>
                        <li th:class="${activeUrl2=='editUserPwdActive'?'active':''}"><a
                            th:href="@{/admin/editUserPwd}">修改用户密码</a></li>
                        <li th:class="${activeUrl2=='editPasswordActive'?'active':''}"><a
                            th:href="@{/admin/editAdminPwd}">修改管理员密码</a></li>
                        <li th:class="${activeUrl2=='logoutActive'?'active':''}"><a
                            th:href="@{/logout}">登出</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>
</body>
</html>