<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <title>新生体检信息录入系统</title>
    <!-- 引入bootstrap样式 -->
    <link th:href="@{/bootstrap/css/bootstrap.css}" rel="stylesheet" type="text/css">
    <!-- 图标库 -->
    <link th:href="@{/lyear/css/materialdesignicons.min.css}" rel="stylesheet" type="text/css"/>
    <!-- 自定义样式 -->
    <link th:href="@{/lyear/css/style.min.css}" rel="stylesheet" type="text/css"/>
    <link rel="icon" th:href="@{/favicon.ico}">
</head>
<style>
    body{
        background-color: #fff;
    }
    .error-page {
        height: 100%;
        position: fixed;
        width: 100%;
    }
    .error-body {
        padding-top: 5%;
    }
    .error-body h1 {
        font-size: 210px;
        font-weight: 700;
        text-shadow: 4px 4px 0 #f5f6fa, 6px 6px 0 #33cabb;
        line-height: 210px;
        color: #33cabb;
    }
    .error-body h4 {
        margin: 30px 0px;
    }
</style>
</head>

<body>
<section class="error-page">
    <div class="error-box">
        <div class="error-body text-center">
            <h1>000</h1>
            <h4>很抱歉，您的权限不足。</h4>
            <a th:href="@{/index}" class="btn btn-primary ">返回首页</a>
        </div>
    </div>
</section>
<!-- 引入jQuery和bootstrap的js -->
<script th:src="@{/js/jquery-2.1.1.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.js}"></script>
</body>
</html>