<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8">
    <title>leftbar</title>
</head>
<body>
<!-- 左侧导航 -->
<aside class="lyear-layout-sidebar" id="leftbaraside">
    <div id="logo" class="sidebar-header" style="height: 68px">
        <a class="navbar-brand" style="font-size: 20px"
           th:href="@{/user/index}">欢迎光临</a>
    </div>
    <div class="lyear-layout-sidebar-scroll">
        <nav class="sidebar-main">
            <ul class="nav nav-drawer">
                <li class="nav-item" th:class="${activeUrl=='indexActive'?'nav-item active':'nav-item'}"><a
                        th:href="@{/user/index}"><i
                        class="mdi mdi-home"></i>系统首页</a></li>
                <li shiro:hasRole="user" shiro:hasPermission="process" class="nav-item nav-item-has-subnav"
                    th:class="${activeUrl1=='processActive'?'nav-item nav-item-has-subnav active open':'nav-item nav-item-has-subnav'}">
                    <a href="javascript:void(0)"><i class="mdi mdi-routes"></i>
                        体检流程</a>
                    <ul class="nav nav-subnav">
                        <li shiro:hasPermission="guideInfo" th:class="${activeUrl2=='guideInfoActive'?'active':''}"><a
                                th:href="@{/user/guide}">预约</a></li>
                        <li shiro:hasPermission="orderInfo" th:class="${activeUrl2=='orderInfoActive'?'active':''}"><a
                            th:href="@{/user/order}">订单</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </div>
</aside>
</body>
</html>